.monitoring_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

.monitoring_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 50px;
    grid-auto-flow: row;
    grid-template-areas:
        '. .'
        '. .';

    padding: 0 50px;
    letter-spacing: 1px;
}

.monitoring_header {
    position: relative;
    text-align: center;
}

.monitoring_indicator_in {
    position: absolute;
    top: -5px;
    left: 0;

    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    animation: indicatorIn 2s infinite;
}

.monitoring_indicator_out {
    position: absolute;
    top: -5px;
    left: 0;

    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    animation: indicatorOut 2s infinite;
}

.monitoring_title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.monitoring_title::after {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background: #d5d5d5;
    margin-top: 8px;
}

.monitoring_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monitoring_data {
    display: flex;
    flex-direction: column;
}

.monitoring_data:not(:last-child) {
    margin-bottom: 30px;
}

.monitoring_data_title {
    font-size: 22px;
    font-weight: 700;
}

.monitoring_data_text {
    font-size: 18px;
}

@keyframes indicatorIn {
    0% {
        background: #fff;
    }
    100% {
        background: #04e119;
    }
}

@keyframes indicatorOut {
    0% {
        background: #fff;
    }
    100% {
        background: #ee2524;
    }
}
